header aside img{
  border-radius: 100%;
}
body header aside hgroup h1 {
  text-align: center;
}
aside{
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #8d021f;
  padding-bottom: 203px;
  border-style: solid;
  border-color: black;
  float: left;
  text-align: center;
}
h6{
  margin-top: 100px;
  margin-left: -45px;
  margin-right: -45px;

}
#per {
  font-weight: bold;
}
.icon {
  height: 35px;
  width: 35px;
  float: left;
  margin-right: -90px;
  margin-left: 25px;
  margin-top: -6px;
}
h3 h4 {
  font-weight: bold;
}

#info {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/51BXwSNRwIL._SL1425_.jpg);
  background-position: -40px;
  /*background-color: #ffff99;*/
  border-style: solid;
  border-left: hidden;
  padding-left: 25px;
  padding-right: 250px;
  float: center;
  display: inline-block;
}
